@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu/>
            </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span class="me-3">
                        Welcome, <strong>@context.User.Identity?.Name</strong>
                        <a href="/profile" class="btn btn-sm btn-outline-@(context.User.IsInRole("admin") ? "danger" : "primary")" role="button">
                             @(context.User.IsInRole("admin") ? "Admin" : "Raider")
                        </a>
                    </span>
                    <LogoutButton/>
                </Authorized>
                <NotAuthorized>
                    <a href="/login" class="btn btn-sm btn-primary me-2">Login</a>
                    <a href="/register" class="btn btn-sm btn-outline-primary">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>


        @Body

    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
